# Variáveis de Ambiente Necessárias para o Ambiente Frontend (Vite)

# 1. Credenciais do Banco Supabase (Exige o prefixo VITE_)
VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJh...

# 2. URL de Destino do seu Backend Express.js
# Para local use http://localhost:3000
# Para Produção use https://sgp-backend-api.onrender.com
VITE_API_BASE_URL=http://localhost:3000
